<strong>Olá, {{ deliveryman }}</strong>
<p>Existe uma nova encomenda registrada em seu nome que está disponível para entrega</p>
<p>
  <strong>Produto: </strong> {{ product }}
  <strong>Destinatário: </strong> {{ recipient }}
  <strong>Endereço: </strong> {{ address }}
  <strong>Número: </strong> {{ number }}
  <strong>CEP: </strong> {{ cep }}
  <br />
  <small>
    Não se esqueça de registrar o horário de retirada da encomenda ao retirá-la.
  </small>
</p>
