<strong>Olá, {{ deliveryman }}</strong>
<p>Acaba de ser cancelada a entrega de uma encomenda registrada em seu nome. Confira abaixo mais informações. </p>
<p>
  <strong>Produto: </strong> {{ product }}
  <br />
  <strong>Destinatário: </strong> {{ recipient }}
  <br />
  <strong>Endereço: </strong> {{ address }}
  <br />
  <strong>Número: </strong> {{ number }}
  <br />
  <strong>CEP: </strong> {{ cep }}
</p>
